
/*Animatie*/
@keyframes button-menu {
    0% {
        background-color: #B71C1C;
          color: white;
        }
    50% {
        background-color: #FFEBEE;
        color: black;
        }
    100%{
        background-color: #B71C1C;
          color: white;
    }
    }

/*CSS Styles*/
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("http://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg");
    background-attachment: fixed;
}

div.menu-top {
    background-color: #B71C1C;
    border-style: hidden; 
    float: left;
    width: auto;
    color: white;
    position: fixed;
}

div.menu-top ul {
    list-style: none;
}
div.menu-top ul a {
    list-style: none;
    margin-right: 50px;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

div.menu-top a:hover {
    width: 60px; 
    animation-name: button-menu;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: black;
      
}
/*
div.menu-top ul li:hover {
    background-color: #FFEBEE;
    color: black;
   width: 60px;    
}
*/
div.main {
    margin-left: 150px ;
}

.paragraph {
    background-color: #B71C1C;
    padding: 5px 5px 5px 5px;
    color: white;
    margin-bottom: 10px;
}
