
/*Animatie*/
@keyframes button-menu {
    from {background-color: #B71C1C;
          color: white;
        }
    to {background-color: #FFEBEE;
        color: black;
        box-shadow: 0 2px 2px black;
        }
    }

/*CSS Styles*/
* {
    font-family: 'Roboto', sans-serif;
}

div.menu-top {
    background-color: #B71C1C;
    border-style: hidden; 
    float: left;
    width: auto;
    color: white;
    position: fixed;
}

div.menu-top ul {
    list-style-type: none;
    margin-right: 50px;
    overflow: hidden;
}

div.menu-top ul li:hover {
    background-color: #FFEBEE;
    color: black;
    width: 60px;
    animation-name: button-menu;
    animation-duration: 1s;
     
}

div.main {
    margin-left: 150px ;
}